---
import { getAllBlogPosts, getPageByUID } from "../lib/prismicio";
import BaseLayout from "../layouts/BaseLayout.astro";
import SliceZone from "../components/SliceZone.astro";
import * as prismicH from "@prismicio/helpers";

const page = await getPageByUID("blog");
const blogPosts = await getAllBlogPosts();

const formattedPosts = await blogPosts.map((post) => {
  return {
    url: post.url,
    title: prismicH.asText(post.data.title),
    date: post.data.date,
  };
});

console.log(
  "🚀 ~ file: blog.astro ~ line 13 ~ blogPosts",
  formattedPosts[0].title
);
---

<BaseLayout>
  <SliceZone slices={page.data.slices} />
  <section>
    <ul>
      {
        formattedPosts.map(({ url, title, date }) => (
          <li>
            <time datetime={date}>
              {new Date(date).toLocaleDateString("en-us", {
                year: "numeric",
                month: "short",
                day: "numeric",
              })}
            </time>
            <a href={url}>{title}</a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
